<!DOCTYPE html>
<html>
<head>
    <title>Detalii Utilizator</title>
</head>
<body>
    <h1>Detalii Utilizator</h1>
    <p>Nume: <%= utilizator.nume %></p>
    <p>Email: <%= utilizator.email %></p>
    <p>Tip Utilizator: <%= utilizator.tipUtilizator %></p>
    <p>Data Înregistrare: <%= utilizator.dataInregistrare %></p>
    <a href="/utilizatori">Înapoi la lista utilizatorilor</a>
</body>
</html>
